---
import Navbar from "../../components/Navbar.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import AboutMe from "../../components/AboutMe.astro";
---

<MainLayout title="Two Slashes: About">
  <Navbar />
  <div class="my-12">
    <AboutMe
      slogan="Hi, I'm Aron and I'm a Senior FullStack Developer and Software Engineer."
    />
  </div>
  <div class="my-12 about-me">
    <h5 class="text-neutral-300"><span class="font-light">about</span> me</h5>
    <p>
      Currently, I am pursuing a <strong>Master of Science</strong> in
      <a
        href="https://psychology.berkeley.edu/students/graduate-program/clinical-science"
        target="_blank">Clinical Psychology</a
      > at the <strong>University of California-Berkeley</strong> to study the human
      mind and how it responds to the world around us; seeking out new and innovative
      methods of discovery behind the ever-so-complex system of neurons, transmitters,
      and pathways. My undergraduate degree was a
      <strong>Bachelor of Science</strong> in
      <a href="https://eng.ua.edu/majors/computer-science-bs/" target="_blank"
        >Computer Science</a
      > from the <strong>University of Alabama</strong> and a <strong
        >Bachelor of Science</strong
      > in <a href="https://iou.edu.gm/stream/psy/" target="_blank"
        >Psychology</a
      >
      from the <strong>International Open University</strong>.
    </p>
    <p>
      Prior to beginning graduate school, I spent nearly two decades as a
      software engineer in Silicon Valley, Startups, and Freelancing. I've
      created tools and companies to improve social media interactions and
      formed companies dedicated to Open Source; including <strong
        >OpenTeknik</strong
      >, the company responsible for the creation and ongoing maintenance of the <a
        href="https://www.opensource-socialnetwork.org/"
        target="_blank">Open Source Social Network</a
      >. I worked as an engineer for <strong>Apple</strong>, transitioning the <strong
        >MobileMe</strong
      > platform to what we call
      <strong>iCloud</strong> today. My most recent professional project being a
      fullstack developer for <strong>DFN Freight Exchange</strong>, where I
      joined the team and spearheaded development of <a
        href="https://www.dfnfreight.com/"
        target="_blank">DFNX</a
      >, their flagship freight exchange application built using <strong
        >TypeScript and Vue 3</strong
      >.
    </p>
    <p>
      My work has ranged from <strong>software engineering</strong>, to <strong
        >fullstack</strong
      >, to <strong>ui design</strong>. I&apos;ve worked as a consultant,
      contractor, and freelancer in all of these areas of expertise under my own
      <strong>LLC</strong>; building complex and robust <strong
        >web applications</strong
      >
      using <strong>JavaScript Frameworks</strong>. For the last year and a
      half, I&apos;ve been focused on my education and learning new languages;
      taking a special interest in <strong>Golang</strong> for systems programming
      and <strong>HTMX</strong>, the <a
        href="https://hypermedia.systems/"
        target="_blank">Hypermedia library</a
      >. Paired together, they do an extremely wonderful job of eliminating the
      bloat that SPAs carry with them when used for the wrong application.
    </p>
    <p>
      I&apos;ve also become increasingly fond of <a
        href="https://astro.build"
        target="_blank">Astro</a
      >. This website was made using <strong>Astro</strong> and <strong
        >Tailwindcss</strong
      >. You can view the source code <a
        href="https://github.com/nodesleep/twoslashes"
        target="_blank">here</a
      >.
    </p>
    <p>
      I&apos;m passionate about creating music, astronomy, space travel,
      psychology, and <strong>meteorology</strong>. I am the creator and
      maintainer of <a href="https://tornadotrax.com" target="_blank"
        >TornadoTrax</a
      >, an application that shows the damage paths of <strong
        >US tornadoes</strong
      >
      between 1950-2022. It includes valuable analytics assisting researchers and
      enthusiasts alike.
    </p>
    <p>
      I&apos;m always open to new opportunities and love discussing <strong
        >technology</strong
      >. If you find me on Twitter, you&apos;ll see I am very much communicative
      and posting regularly; typically engaging in the memes from HTMX or
      ranting with other engineers about the common stuff you&apos;d hear at the
      water cooler.
    </p>
  </div>
</MainLayout>
