@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  scroll-behavior: smooth;
}

body {
  @apply flex flex-col min-h-screen sm:w-[80%] md:w-[60%] xl:w-[35%] mx-auto bg-ts-dark text-neutral-300 p-6;
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-5xl;
}

h4 {
  @apply text-4xl;
}

h5 {
  @apply text-3xl;
}

h6 {
  @apply text-2xl;
}

* {
  @apply tracking-tight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold my-3;
}

p {
  @apply py-2;
}

a {
  @apply hover:text-ts-600 transition-all duration-300 cursor-pointer;
}

ol {
  @apply list-decimal font-medium text-purple-400 p-0 list-inside my-8;
}

footer {
  @apply h-12 text-neutral-500 text-sm bg-ts-dark;
}

footer p {
  @apply py-0;
}

.article-entry {
  @apply mb-12;
}

.article-entry p,
ol {
  @apply font-sans leading-7;
}

.astro-code {
  @apply p-2 rounded my-5 text-sm;
}

.note {
  @apply my-3 text-sky-300;
}

.about-me {
  @apply text-neutral-400 leading-7;
}

.about-me strong {
  @apply text-white;
}

.about-me a {
  @apply text-ts-600 hover:text-sky-300 transition-all duration-300;
}
