---
import { Icon } from "astro-icon/components";
const { slogan } = Astro.props;
---

<div class="flex sm:gap-6 rounded-xl">
  <div
    class="flex flex-col md:flex-row md:items-center justify-center w-full gap-6"
  >
    <img
      src="avatar.webp"
      class="rounded-full w-[20%] border-4 border-neutral-50"
      alt="Avatar of Aron Sweet, creator of Two Slashes"
    />
    <div class="flex flex-col justify-center gap-4">
      <h5>
        {slogan}
      </h5>
      <div class="flex items-center gap-5">
        <a
          class="hover:scale-125 transition-all duration-300"
          href="https://x.com/asyncawaited"
          target="_blank"
        >
          <Icon name="twitter" class="text-3xl" />
        </a>
        <a
          class="hover:scale-125 transition-all duration-300"
          href="https://instagram.com/asyncawaited"
          target="_blank"
        >
          <Icon name="instagram" class="text-3xl" />
        </a>
        <a
          class="hover:scale-125 transition-all duration-300"
          href="https://github.com/nodesleep"
          target="_blank"
        >
          <Icon name="github" class="text-3xl" />
        </a>
      </div>
    </div>
  </div>
</div>
