---
import { linkArr } from "../data/links";
import { Icon } from "astro-icon/components";
---

<div class="flex items-center h-16 py-4 w-full mx-auto">
  <div class="flex items-center">
    <a class="text-2xl font-light hover:text-neutral-300" href="/">
      // two<span class="font-bold">slashes</span>
    </a>
  </div>
  <div class="sm:flex sm:items-center ml-auto hidden" id="nav">
    <ul
      class="flex flex-col sm:flex-row sm:items-center uppercase font-medium text-sm gap-4 sm:gap-12"
    >
      {
        linkArr.map((link) => {
          return (
            <li>
              <a href={link.url}>{link.name}</a>
            </li>
          );
        })
      }
    </ul>
  </div>
  <Icon
    name="hamburger"
    class="text-lg block sm:hidden ml-auto"
    id="hamburger"
  />
</div>
